<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RavenDB" connectionString="DataDir = ~\App_Data\Database" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>
</configuration>