<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.4.4" />
  <package id="jquery.datatables" version="1.9.2" />
  <package id="jQuery.UI.Combined" version="1.8.22" targetFramework="net40" />
  <package id="jQuery.UI.Themes.smoothness" version="1.8.9" />
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" />
  <package id="Nancy.RouteHelpers" version="1.0.8" />
  <package id="Nancy.Viewengines.Razor" version="0.11.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB.Client" version="1.0.960" />
  <package id="RavenDB.Database" version="1.0.960" />
  <package id="RavenDB.Embedded" version="1.0.960" />
  <package id="TinyMCE" version="3.5.6" />
  <package id="TinyMCE.jQuery" version="3.5.6" />
</packages>