@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>

@Html.Raw(@Model.Body)

@if (Model.Tags != null)
{
<p>
@foreach(var item in Model.Tags)
{
    <a href="/blog/tag/@item">@item</a> 
}
</p>
}