@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<dynamic>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>This is the blog page and the below content is all coming from <strong>SugarTown</strong></p>

     @foreach (var post in Model)
     {
         <h3><a href="@Url.Content("~/blog/")@post.Slug">@post.Title</a></h3>
          @Html.Raw(post.Body)
     }