@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<dynamic>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <h1>Hi there!</h1>
            @foreach(var post in Model)
            {
                @Html.Raw(post.Body)
            }
        </div>
    </body>
</html>