@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
              
@{
    Layout = "_Layout";
}
<img class="image alignleft" src="@Url.Content("~/Content/images/pic1.jpg")" width="215" height="150" alt="" />
<p> Welcome to the <strong>SugarTown Demo</strong> website. It is used to illustrate an existing website that you want to put a blog into.</p>

       
