@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SugarTown.Models.Post>
<form method="POST">
<div>
    <label for="Title">
        Title</label>
    <input type="text" name="Title" value="@Model.Title"/>
</div>
<div>
    <label for="Body">
        Body</label>
    <textarea type="text" name="Body">@Model.Body</textarea>
</div>
<div>
    <label for="Tags">
        Tags</label>
    @{
        string Tags = Model.Tags != null ? String.Join(",", Model.Tags) : "";
    }
    <input type="text" name="Tags" value="@Tags"/>
</div>
    <div>
        <label for="Published">Published?</label>
        <input type="checkbox" name="Published" value="true"/>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />

<div>
    <input type="submit" value="Save" />
</div>
</form>
